*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header{
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
}
.conteiner{
    max-width:1070px;
    margin:  0 auto;
    
    

}
.product-plan{
    padding: 75px 0 ;
    

}
.products-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-heading{
    width: 523px;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -1.88px;
}
.period-buttons{
    padding:  5px 6px;
    background-color: rgb(236, 235, 235);
    border-radius: 10px;

}
.period-btn{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    padding: 17px 56px;
}
.period-btn.active{
    background: rgb(82, 50, 224);
    color: white;
    
}
.monthly.active{
    border-radius: 0 10px 10px 0;
}
.yearly.active{
    border-radius: 10px 0 0 10px;
}
.cards-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.card{
    width: 330px;
    padding: 30px 22px;
    background-color:white ;
}
.card-title{
    line-height: -0,56px;
    font-size: 18px;
    color: #696871;
}
.top_menu{
    margin: 0 auto ;
    display: flex;
    max-width: 1070px;
    justify-content: space-between;
    align-items: center;
}
.text_top{
    width: 327px;
    display: flex;
    justify-content: space-between;

}
.home{
    border-bottom: 2px solid #5454D4;
}
.get_started{
    background-color:  #FF7143;
    width: 210px;
    height: 60px;
    text-align: center;
    border: 20px solid #FF7143;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    
}
.purpule{
    width: 180px;
    background-color:#5454D4;
    border: 20px solid #5454D4;
    
}
.sector{
    display: flex;
    justify-content: space-between;
    max-width: 1069px;
    margin: 0 auto;

}
.textblock{
    max-width: 409px;
    max-height: 491px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.H1{
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 75px;
}
h2{
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.63px;
}
.group{
    display: flex;
    max-width: 1070px;
    justify-content: space-between;
    margin: 0 auto;
}
.h1-mid{
    font-size: 50px;

}
.textblock:nth-child(2){
    max-height: 229px;
    max-width: 556px;
    padding: 10px;

}
a{
    color:  #5454D4;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;

}